h3.page-header
    span 频道管理 > {{detailTitle}}
    a(ng-controller='cloudResourceHeadReturnCtl')
        button.btn.btn-xs.btn-default(type='button',ng-click='goBack()')
            em.dtdream.dtdream-goback
            span 返回

.row
    .col-lg-12
        table.table.table-dtdream(ng-table='channelManage.tableParams', template-pagination='app/views/ngtable-foot.html', block-ui="channelManageBlockUI" )
            tbody
                tr(ng-repeat='item in $data' ng-class= "{ 'trActive': item.selected == true}")
                    td(data-title="'频道'")
                        span {{item.channelName}}
                    td(data-title="'状态'")
                        span {{item.captureStatusType}}
                    td(data-title="'描述'")
                        span {{item.description}}
                    td(data-title="'操作'")
                        a(ng-click='beginCollectingItem(item)', ng-if="item.captureStatusType != '采集中' && item.captureStatusType != '开始采集'") 开始采集
                        a(ng-click='stopCollectingItem(item)', ng-if="item.captureStatusType == '采集中' || item.captureStatusType == '开始采集' ") 停止采集
                        a(ng-click='editCollectingItem(item)') 编辑
                        //.btn-group(dropdown='dropdown', style='vertical-align:top')
                            a(href='', dropdown-toggle='') 管理
                            ul.dropdown-menu.animated.fadeInDown(role='menu')
                                li
                                    a(ng-click='beginCollectingItem(item)', ng-if="item.captureStatusType != '采集中' && item.captureStatusType != '开始采集'") 开始采集
                                li
                                    a(ng-click='stopCollectingItem(item)', ng-if="item.captureStatusType == '采集中' || item.captureStatusType == '开始采集' ") 停止采集
                                li
                                    a(ng-click='editCollectingItem(item)') 编辑
                                //li
                                    a(ng-click='deleteCollectingItem(item)') 删除
                tr.table-nodata-tr(ng-if='channelManage.tableParams.data==undefined || channelManage.tableParams.data.length==0')
                    td(colspan='11')
                        div.text-center
                            span.table-nodata-content(ng-show='!isLoading')
                                em.dtdream.dtdream-info-circle
                                | 没有符合条件的数据
script(type='text/ng-template', id='beginCollectingItem')
    div(block-ui="beginBlockUI")
        .modal-header
            button.close(type='button', data-dismiss='modal', ng-click='cancel()', aria-hidden='true')
                | ×
            h4.modal-title 开始采集
        .modal-body.clearfix
            .col-lg-10
                span 您所选的 {{tipChannel}} 将执行开始采集操作，您是否确认操作？
        .modal-footer
            button.btn.btn-primary(ng-click='ok()')
                | 确定
            button.btn.btn-default(data-ng-click='cancel()')
                | 取消
script(type='text/ng-template', id='stopCollectingItem')
    div(block-ui="stopBlockUI")
        .modal-header
            button.close(type='button', data-dismiss='modal', ng-click='cancel()', aria-hidden='true')
                | ×
            h4.modal-title 停止采集
        .modal-body.clearfix
            .col-lg-10
                span 您所选的 {{tipChannel}} 将执行停止采集操作，您是否确认操作？
        .modal-footer
            button.btn.btn-primary(ng-click='ok()')
                | 确定
            button.btn.btn-default(data-ng-click='cancel()')
                | 取消
script(type='text/ng-template', id='deleteCollectingItem')
    .div(block-ui="deleteBlock")
        .modal-header
            button.close(type='button', data-dismiss='modal', ng-click='cancel()', aria-hidden='true')
                | ×
            h4.modal-title.ng-binding 删除
        .modal-body.clearfix
            .pull-left.col-padding
                span.text-size-32.icon-help-2.text-warning
            .pull-left.col-padding.col-lg-10
                div
                    .col-lg-12
                        span.ng-binding 您将执行删除 {{tipChannel}} 操作，您是否确认操作？
        .modal-footer
            button.btn.btn-primary(ng-click='delete()')
                | 确定
            button.btn.btn-default(data-ng-click='cancel()')
                | 取消
script(type="text/ng-template", id='editCollectingItem')
    form.form-horizontal(name="editCollectingForm", novalidate="")
        div(block-ui='editCollectingBlockUI')
            // START modal
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()') ×
                h4.modal-title 修改
            .modal-body
                .form-group
                    label.col-lg-3.control-label
                        span.text-danger *
                        | 频道
                    .col-lg-9
                        input.form-control(type='text', name='channelName', ng-model="Info.channelName",placeholder='请输入节点名称', ng-required="true")
                        small.text-danger(ng-show="editCollectingForm.channelName.$dirty && editCollectingForm.channelName.$error.required") 频道名称不能为空
                .form-group
                    label.col-lg-3.control-label
                        span.text-danger *
                        | 状态
                    .col-lg-9
                        input.form-control(type='text', name='captureStatusType',ng-model="Info.captureStatusType",ng-required="true",
                        placeholder='请输入节点地址', ng-disabled="isEdit")
                .form-group
                    label.col-lg-3.control-label
                        span 描述
                    .col-lg-9
                        textarea.form-control(type='textarea', name='description', ng-required='false', rows='8', ng-model='Info.description')
            .modal-footer
                button.btn.btn-primary(type='button', ng-click='ok()', ng-disabled="editCollectingForm.$invalid") 确定
                button.btn.btn-default(type='button', ng-click='cancel()') 取消