h3.page-header
    span 关键人分析

.container-fluid(ng-controller='keyPersonRecognitionCtrl')
  .row.search-dtdream
    .col-lg-12
        .col-lg-6.search-dtdream-row
            .col-lg-3.change-ui-select-key
                ui-select.text-left(ng-model='selected.selected', theme='bootstrap', search-enabled='true', ng-disabled='disabled')
                    ui-select-match {{$select.selected}}
                    ui-select-choices(repeat='name in selected.name')
                        span(ng-bind-html='name')
            .col-lg-5
                input.form-control(type='text', placeholder='请输入{{selected.selected}}', ng-model='selected.searchValue', ng-change='getNullCondition()', ng-keyup='testEnter($event)')
            .col-lg-1
                button.btn.btn-primary(ng-click='searchDetail()') 查询
        .pull-right
            button.btn.btn-primary(ng-disabled="sumChose==0" ng-click='exportKeyPersonInfos()') 导出
  .row
    .col-lg-12
        table.table.table-dtdream(ng-table='faceRecognition.tableParams', template-pagination='app/views/ngtable-foot.html', block-ui="faceRecognitionBlockUI" )
            tbody
                tr(ng-repeat='item in $data' ng-class= "{ 'trActive': item.selected == true}")
                    td(header="'expandAllHeader'")
                        .checkbox.c-checkbox
                            label
                                input(type='checkbox', ng-model='item.selected', ng-click='choseOne($index)')
                                span.fa.fa-check
                    td(data-title="'关键人'")
                        a(ui-sref='app.video-keyPerson({personId:item.personId,videoId:item.videoId,personName:item.personName})') {{item.personName}}
                    td(data-title="'地址'")
                        span {{item.hostName}}
                    td(data-title="'频道'")
                        span {{item.channelName}}
                    td(data-title="'采集时间'")
                        span {{item.createTime}}
                    td(data-title="'视频'")
                        span {{item.videoName}}
                    td(data-title="'标签'")
                        a(href='#', ng-click='detailLabelItemOpen(item)') 详情
                    //td(data-title="'文本'")
                        span {{item.videoName}}
                    //td(data-title="'操作'")
                        .btn-group(dropdown='dropdown', style='vertical-align:top')
                            a(href='', dropdown-toggle='') 管理
                            ul.dropdown-menu.animated.fadeInDown(role='menu')
                                li
                                    a(ui-sref='app.video-keyPerson({personId:item.personId,videoId:item.videoId,personName:item.personName})') 查看详情
                                li
                                    a(href='#', ng-click='deleteKeyPersonRecognitionItemOpen(row)') 删除
                tr.table-nodata-tr(ng-if='faceRecognition.tableParams.data==undefined || faceRecognition.tableParams.data.length==0')
                    td(colspan='11')
                        div.text-center
                            span.table-nodata-content(ng-show='!isLoading')
                                em.dtdream.dtdream-info-circle
                                | 没有符合条件的数据
script(type='text/ng-template', id='expandAllHeader')
    .checkbox.c-checkbox
        label
            input(type='checkbox',ng-click='setAllSelected()', ng-model='allsetlist.allset')
            span.fa.fa-check
script(type='text/ng-template', id='faceRecognitionItem')
    .div(block-ui="faceRecognitionBlock")
        .modal-header
            button.close(type='button', data-dismiss='modal', ng-click='cancel()', aria-hidden='true')
                | ×
            h4.modal-title.ng-binding 删除
        .modal-body.clearfix
            .pull-left.col-padding
                span.text-size-32.icon-help-2.text-warning
            .pull-left.col-padding.col-lg-10
                div
                    .col-lg-12
                        span.ng-binding 您是否确认删除该条关键人？
        .modal-footer
            button.btn.btn-primary(ng-click='deleteItem()')
                | 确定
            button.btn.btn-default(ng-click='cancel()')
                | 取消
script(type="text/ng-template", id='labelDetailDialog')
    form.form-horizontal(name="labelDetailForm", novalidate="")
        div(block-ui='labelDetailBlockUI')
            // START modal
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()') ×
                h4.modal-title 标签详情
            .modal-body
                .form-group
                    label.col-lg-3.control-label
                        span 地址
                    .col-lg-9
                        input.form-control(type='text', name='hostName' ,ng-model="keyPersonInfo.hostName", ng-disabled="!editable")
                        //span {{keyPersonInfo.hostName}}
                .form-group
                    label.col-lg-3.control-label
                        span 频道
                    .col-lg-9
                        input.form-control(type='text', name='channelName' ,ng-model="keyPersonInfo.channelName", ng-disabled="!editable")
                        //span {{keyPersonInfo.channelName}}
                .form-group
                    label.col-lg-3.control-label
                        span 年龄
                    .col-lg-9
                        input.form-control(type='number', name='age' ,ng-model="keyPersonInfo.age", ng-disabled="!editable")
                .form-group
                    label.col-lg-3.control-label
                        span 性别
                    .col-lg-9
                        //.radio
                            label.ng-binding
                                input.ng-pristine.ng-valid(type='radio', name='sex', ng-model='keyPersonInfo.sex', ng-value='false', ng-checked='true', value='MALE') 男
                                input.ng-pristine.ng-valid(type='radio', name='sex', ng-model='keyPersonInfo.sex', ng-value='true', value='true') 女
                        .radio-inline
                            div.radio-text
                                input(type="radio" name="sex" ng-model='keyPersonInfo.sex', value='MALE', ng-disabled="!editable")
                                label.fontWeight-normal 男
                        .radio-inline
                            div.radio-text
                                input(type='radio', name='sex', ng-model='keyPersonInfo.sex', value='FEMALE', ng-disabled="!editable")
                                label.fontWeight-normal 女
                .form-group
                    label.col-lg-3.control-label
                        span 国籍
                    .col-lg-9
                        input.form-control(type='text', name='nationality' ,ng-model="keyPersonInfo.nationality", ng-disabled="!editable")
                .form-group
                    label.col-lg-3.control-label
                        span 地区
                    .col-lg-9
                        input.form-control(type='text', name='area' ,ng-model="keyPersonInfo.area", ng-disabled="!editable")
                .form-group
                    label.col-lg-3.control-label
                        span 职位
                    .col-lg-9
                        input.form-control(type='text', name='rank' ,ng-model="keyPersonInfo.rank", ng-disabled="!editable")
                .form-group
                    label.col-lg-3.control-label
                        span 描述
                    .col-lg-9
                        textarea.form-control(type='textarea', name='description', ng-required='false', rows='8', ng-model='keyPersonInfo.description', ng-disabled="!editable")
                .form-group
                    label.col-lg-3.control-label
                        span 语音信息
                    .col-lg-9
                        sapn.form-control(style="border:none") 语音信息正在集成中...
            .modal-footer
                button.btn.btn-default(type='button', ng-click='cancel()') 确定