h3.page-header
    span 实时数据
.container-fluid(ng-controller="realtimeDataCtrl")
    .row.search-dtdream
        .col-lg-12.search-dtdream-row
            .pull-right
                button.btn.btn-primary(ng-disabled="sumChose==0" ng-click='exportRealTimeData()') 导出实时数据
                button.btn.btn-primary(ng-disabled="sumChose==0" ng-click='exportHistoryData()') 导出历史数据
    .row
        .col-lg-12
            table.table.table-dtdream
                thead
                    tr
                        th(style="width:10%") 名称
                        th(style="width:5%") 类型
                        th(style="width:10%") 告警时间
                        th(style="width:10%") 主机
                        th(style="width:10%") 频道
                        th(style="width:15%") 视频
                        th(style="width:5%") 开始时间
                        th(style="width:5%") 结束时间
                        th(style="width:30%") 信息
            div(style="height:600px;overflow:auto")
                table.table.table-dtdream
                    thead
                        tr
                    tbody
                        tr(ng-repeat='item in resultData')
                            td(style="width:10%")
                                span {{item.name}}
                            td(style="width:5%")
                                span {{item.type}}
                            td(style="width:10%")
                                span {{item.time | date:'yyyy-MM-dd HH:mm:ss'}}
                            td(style="width:10%")
                                span {{item.hostName}}
                            td(style="width:10%")
                                span {{item.channelName}}
                            td(style="width:15%")
                                a(ng-if="item.type == '关键词'" ui-sref='app.video-keyword({keywordId:item.keywordId,videoId:item.videoId,keywordName:item.name})') {{item.videoName}}
                                a(ng-if="item.type == '关键人'" ui-sref='app.video-keyPerson({personId:item.personId,videoId:item.videoId,personName:item.name})')  {{item.videoName}}
                            td(style="width:5%")
                                span {{item.startTime}}
                            td(style="width:5%")
                                span {{item.endTime}}
                            td(style="width:30%")
                                img(ng-if="item.type == '关键人'" ng-src='{{item.personImage}}' tip-img='{{item.personImage}}' style='width: 30px; height: 30px;')
                                span(ng-if="item.type == '关键词'" ng-bind-html="item.text")
                        tr.table-nodata-tr(ng-if='resultData==undefined || resultData.length==0')
                            td(colspan='11')
                                div.text-center
                                    span.table-nodata-content
                                        em.dtdream.dtdream-info-circle
                                        | 没有符合条件的数据