style.
    .green {
        color: #00b4ed;
    }

    .grey {
        color: #9d9d9d;
    }

    .list-group-item.select, .list-group-item.select:hover, .list-group-item.select:focus {
        background-color: #EDF1F2 !important;
    }
h3.page-header
    span 角色管理

.container-fluid(ng-controller="RoleManageCtrl")
    .row.search-dtdream
        form(name='searchRoleForm')
            .col-lg-12.search-dtdream-row.ml-0p
                .col-lg-2
                    input.form-control(type='text', name='searchWordName', ng-model='searchWordName',placeholder='请输入角色名', ng-keyup='searchRoleEnter($event)', ng-change='getNullCondition()')
                .col-lg-1
                    button.btn.btn-primary(type='button', ng-click='searchRole()') 查询
                .pull-right(ng-hide='false')
                    button.btn.brand-btn-color-a(type='button', ng-click='openRoleEditDialog(false)', has-permission='PRIV_SYS_INIT,PRIV_ROLE_WRITE') 添加角色
                    button.btn.btn-danger(type='button', ng-click='',ng-if='false',has-permission='PRIV_SYS_INIT,PRIV_ROLE_WRITE') 批量删除

    .row
        .col-lg-12
            table.table.table-dtdream(ng-table='roleTableParams', template-pagination='app/views/ngtable-foot.html', block-ui="myBlockUIRoles")
                thead
                    tr
                        th(check-all='check-all',ng-hide='true')
                            .checkbox.c-checkbox(data-toggle='tooltip', data-title='Check All')
                                label
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th 角色名
                        th 角色权限
                        th 角色人数
                        th 类型
                        th(has-permission='PRIV_ROLE_WRITE,PRIV_SYS_INIT') 操作
                tbody
                    tr.table-nodata-tr(ng-if='roleTableParams.data==undefined || roleTableParams.data.length==0')
                        td(colspan='6')
                            div.text-center
                                span.table-nodata-content(ng-show='!isLoading')
                                    em.dtdream.dtdream-info-circle
                                    | 没有符合条件的数据
                    tr(ng-repeat='role in $data')
                        td {{role.roleName}}
                        td(style='width:800px')
                            span(ng-repeat='privilege in role.privilege')
                                span(tip-value='{{privilege.privilegeName}}  ') {{privilege.privilegeName}}，
                        td
                            a(ui-sref="system.role-management-info({roleId: role.roleId,preUrl: persentUrl})") {{role.userNum}}
                        td
                            span(ng-if='role.isDefault') 默认角色
                            span(ng-if='!role.isDefault') 自定义角色
                        td
                            .btn-group(dropdown='dropdown', style='vertical-align:top')
                                em.dtdream.dtdream-form-management(dropdown-toggle='',ng-disabled='checkPermissions(role)')
                                ul.dropdown-menu.animated.fadeInDown(role='menu')
                                    li
                                        a(ng-click='openRoleEditDialog(true,role)') 编辑
                                    li
                                        a(ng-click='openRoleDelDialog($index)') 删除

script(type="text/ng-template", id='/RoleConfDialogId.html')
    form.form-validate.form-horizontal(name="RoleAddForm",block-ui="blockUIRoles")
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()')
            h4.modal-title {{ModalTitle}}
        .modal-body
            .form-group
                label.col-lg-2.control-label
                    span.text-danger *
                    | 角色名
                .col-lg-6
                    input.form-control(type='text', name='name', required='', ng-model="newRole.name", ng-disabled=" isMotify == true ",placeholder='最多15个字符',ng-pattern='/^[0-9a-zA-Z\\u4e00-\\u9fa5]{1,15}$/')
                    .error.help-block.ng-hide(ng-show='RoleAddForm.name.$dirty && RoleAddForm.name.$invalid')
                        small.text-danger(ng-if='RoleAddForm.name.$error.required')
                            | 角色名不能为空
                        small.text-danger(ng-if='!RoleAddForm.name.$error.required && RoleAddForm.name.$dirty && RoleAddForm.name.$invalid')
                            | 必须为中英文或数字,长度不超过15个字符
            .form-group
                label.col-lg-2.control-label
                    span.text-danger *
                    | 角色
                .col-lg-6
                    input.form-control(type='text', name='keyName', required='true', ng-model="newRole.keyName", ng-disabled=" isMotify == true ",placeholder='必须为英文数字和下划线',ng-pattern='/^[0-9a-zA-Z_]*$/')
                    .error.help-block.ng-hide(ng-show='RoleAddForm.keyName.$dirty && RoleAddForm.keyName.$invalid')
                        small.text-danger(ng-if='RoleAddForm.keyName.$error.required')
                            | 角色不能为空
                        small.text-danger(ng-if='!RoleAddForm.keyName.$error.required && RoleAddForm.keyName.$dirty && RoleAddForm.keyName.$invalid')
                            | 必须为英文数字或下划线
            fieldset
                .form-group
                    label.col-lg-2.control-label(for='roleDescription') 描述
                    .col-lg-6
                        textarea#roleDescription.form-control(rows='2', name='des',ng-model='newRole.des',placeholder='最多100个字符',ng-pattern='/^[0-9a-zA-Z\\u4e00-\\u9fa5,;.|；，。_\\s]{0,100}$/')
                        .error.help-block(ng-show='RoleAddForm.des.$dirty && RoleAddForm.des.$invalid')
                            small.text-danger(ng-if='!RoleAddForm.des.$error.required && RoleAddForm.des.$dirty && RoleAddForm.des.$invalid')
                                | 必须为中英文、数字、逗号、分号、句号、空格、下划线，最多不超过100个字符
            .form-group(style='overflow: hidden')
                label.col-lg-2.control-label
                    span.text-danger *
                    | 选择权限
                .col-lg-9.list-group-new
                    .select-top
                        .select-lft(style="padding-top:10px;color:#4f5f6f;font-size:14px;") 已选权限个数：
                            span(style="font-size:13px;",ng-class="{'grey':!num,'green':num}") {{num}}
                    input.form-control.ng-pristine(type='text', ng-model='searchText', placeholder='输入权限名称', style='border-bottom-right-radius: 0; border-bottom-left-radius: 0; padding-left: 10px; padding-right: 24px;margin-left:-60px;margin-top:12px;width:695px;')
                    span.fa.fa-search.input-search-icon(style='top: 54px')
                    .list-group(style='border-top: 0; height: 200px;margin-left:-60px;width:695px;overflow-y:scroll;')
                        div.list-group-item(bindonce='', bo-text='i.privilegeName', ng-repeat='i in privilegeList | filter:{privilegeName:searchText}', ng-class="{ 'select': checkSelected(i) }", ng-click="selectItem(i)",style='min-height: 40px')
                            span(tooltip='{{i.description}}') {{i.privilegeName}}
        .modal-footer

            button.btn.btn-primary(type='button', ng-click='submitForm()',data-ng-disabled='RoleAddForm.$invalid || num == 0') 确定
            button.btn.btn-default(type='button', ng-click='cancel()') 取消

script(type="text/ng-template", id='/RoleMangeDelDialogTmp.html')
    div(block-ui="DelRoleBlockUI")
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()') ×
            h4#myModalLabel.modal-title 删除提示
        .modal-body
            p
                span(ng-model='delrole') 确定删除角色: {{delrole}}
        .modal-footer
            button.btn.btn-primary(type='button', ng-click='submitForm()') 确定
            button.btn.btn-default(type='button', ng-click='cancel()') 取消