h3.page-header
    span 用户管理

.container-fluid(ng-controller="userManageCtrl")
  .row.search-dtdream
    .col-lg-12
        .col-lg-7.search-dtdream-row
            .col-lg-6
                .col-lg-3
                    label.search-label 用户名 :
                .col-lg-9
                    input.form-control(type='text', name='searchUserName', ng-model='searchUserName',placeholder='请输入用户名',ng-keyup='searchUserEnter($event)', ng-change='getNullCondition()')
            .col-lg-1
                button.btn.btn-primary(type='button', ng-click='searchUser()') 查询

        .pull-right
            button.btn.brand-btn-color-a(ng-click='openUserModifyDialog()') 添加
            button.btn.btn-primary(ng-disabled="sumChose==0", ng-click='exportSystemInitPasswords()') 导出初始用户密码
  .row
    .col-lg-12
        table.table.table-dtdream(ng-table='userTableParams', template-pagination='app/views/ngtable-foot.html', block-ui="myBlockUI" )
            tbody
                tr(ng-repeat='item in $data', ng-class= "{ 'trActive': item.selected == true}", ng-disabled='localUser.userId != item.userId')
                    td(header="'expandAllHeader'")
                        .checkbox.c-checkbox
                            label
                                input(type='checkbox', ng-model='item.selected', ng-disabled="checkCanOpUser(item)", ng-click='choseOne($index)')
                                span.fa.fa-check
                    td(data-title="'用户名'")
                        span {{item.loginName}}
                    td(data-title="'显示名'")
                        span {{item.nickName}}
                    td(data-title="'角色'")
                        span {{item.roles}}
                    td(data-title="'手机'")
                        span {{item.cellphoneNum}}
                    td(data-title="'邮箱'")
                        span {{item.email}}
                    td(data-title="'登陆时间'")
                        span {{item.loginTime}}
                    td(data-title="'是否禁闭'")
                        span.text-danger(ng-if='item.forbid', ng-click='openForbidDialog(item)') 是
                        span.text-success(ng-show='!item.forbid') 否
                    td(data-title="'操作'")
                        .btn-group(dropdown='dropdown', style='vertical-align:top')
                            a(href='', dropdown-toggle='', ng-disabled="checkCanOpUser(item)") 管理
                            ul.dropdown-menu.animated.fadeInDown(role='menu')
                                li
                                    a(ng-click='goToUserInfo(item)') 查看详情
                                li
                                    a(ng-click='openUserModifyDialog(item)') 编辑
                                li
                                    a(ng-click='openUserDelDialog(item)') 删除
                tr.table-nodata-tr(ng-if='userTableParams.data==undefined || userTableParams.data.length==0')
                    td(colspan='11')
                        div.text-center
                            span.table-nodata-content(ng-show='!isLoading')
                                em.dtdream.dtdream-info-circle
                                | 没有符合条件的数据
script(type='text/ng-template', id='expandAllHeader')
    .checkbox.c-checkbox
        label
            input(type='checkbox',ng-click='setAllSelected()', ng-model='allsetlist.allset')
            span.fa.fa-check
script(type="text/ng-template", id='/UserConfDialogId.html')
    form.form-horizontal(name="UserAddForm", novalidate="")
        div(block-ui='myBlockUIEditUser')
            // START modal
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()') ×
                h4.modal-title {{ModalTitle}}
            .modal-body
                .form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | 用户名
                    .col-lg-10
                        input.form-control(ng-disabled='bIsModifyPage',type='text', name='loginName', required='', ng-model="newUser.loginName",
                        ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/",placeholder='仅能包含字母、数字或下划线，必须以字母开头，长度为3~30个字符')
                        small.text-danger(ng-show='UserAddForm.loginName.$error.required && UserAddForm.loginName.$dirty') 用户名不能为空
                        small.text-danger(ng-show="UserAddForm.loginName.$error.pattern && UserAddForm.loginName.$dirty") 用户名必须由字母、数字、下划线组成，以字母开头，长度为3~30个字符
                .form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | 显示名
                    .col-lg-10
                        input.form-control(type='text', name='fullName', required='', ng-model="newUser.fullName", ng-pattern="/^[A-Za-z0-9\u4e00-\u9fa5]{2,30}$/",
                        placeholder='仅能包含字母、数字和中文字符，长度为2~30个字符')
                        small.text-danger(ng-show='UserAddForm.fullName.$error.required && UserAddForm.fullName.$dirty') 显示名不能为空
                        small.text-danger(ng-show="UserAddForm.fullName.$error.pattern && UserAddForm.fullName.$dirty") 显示名仅能包含字母、数字和中文字符，长度为2~30个字符
                .form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | 角色
                    .col-lg-10
                        .form-control.text-left(ui-select, multiple='', name='roles', ng-model="authorization.selectedRoleIds", theme='bootstrap', required='', reset-search-input='true', style='padding-left:15px;')
                            div(ui-select-match, placeholder='请选择角色') {{$item.roleName}}
                            div(ui-select-choices, repeat='role.id as role in availableRoles | filter:{roleName: $select.search}')
                                span(ng-bind-html='role.roleName | highlight: $select.search')
                                b.fa.fa-check.region-ok-style
                        small.text-danger(ng-show="availableRoles.length && validateRolesInput()") 角色不能为空
                        small.text-danger(ng-show="getRolesReturn && UserAddForm.service.$dirty && !availableRoles.length") 你没有权限为用户分配该平台的角色
                .form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | 手机
                    .col-lg-10
                        input.form-control(type='text', name='cellphoneNum', required, ng-model="newUser.cellphoneNum", ng-pattern="/^[0-9]{11}$/")
                        small.text-danger(ng-show="UserAddForm.cellphoneNum.$dirty && UserAddForm.cellphoneNum.$error.required") 手机不能为空
                        small.text-danger(ng-show="UserAddForm.cellphoneNum.$dirty && UserAddForm.cellphoneNum.$error.pattern") 请填写11位手机号码
                .form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | E-mail
                    .col-lg-10
                        input.form-control(type='email', name='email', required='', placeholder="mail@example.com", ng-model="newUser.userEmail", ng-pattern="/^\\w[-\\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\\.)+[A-Za-z]{2,14}$/")
                        small.text-danger(ng-show="UserAddForm.email.$dirty && UserAddForm.email.$error.required") E-mail不能为空
                        small.text-danger(ng-show="UserAddForm.email.$dirty && UserAddForm.email.$error.pattern") 请输入合法的E-mail地址
                //.form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | 密码
                    .col-lg-10
                        input.form-control(type='password', name='password', required='', ng-model="newUser.password")
                        small.text-danger(ng-show="UserAddForm.password.$dirty && UserAddForm.password.$error.required") 密码不能为空
                //.form-group
                    label.col-lg-2.control-label
                        span.text-danger *
                        | 确认密码
                    .col-lg-10
                        input.form-control(type='text', name='confirmPassword', required='', ng-model="confirmPassword")
                        small.text-danger(ng-show="UserAddForm.confirmPassword.$dirty && confirmPassword != newUser.password") 密码与第一次输入不符，请重新输入
            .modal-footer
                button.btn.btn-primary(type='button', ng-click='submitForm(newUser)', ng-disabled="UserAddForm.$invalid") 确定
                button.btn.btn-default(type='button', ng-click='cancel()') 取消
script(type="text/ng-template", id='/UserConfDelDialogTmp.html')
    div(id='UserConfDelDialogTmp', block-ui="myBlockUIDelUser")
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()') ×
            h4.modal-title 删除提示
        .modal-body.clearfix
            .col-padding.col-lg-10
                span 您确定要删除 {{loginName}} 用户吗？
        .modal-footer
            button.btn.btn-primary(type='button', ng-click='submitForm()') 确定
            button.btn.btn-default(type='button', ng-click='cancel()') 取消

script(type="text/ng-template", id='/UserForbidDialog.html')
        div(block-ui='myBlockUIUserForbid')
            // START modal
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='cancel()') ×
                h4.modal-title 解除禁闭
            .modal-body.clearfix
                .col-padding.col-lg-10
                    span 您确定要解除{{loginName}}用户的禁闭吗？
           .modal-footer
                button.btn.btn-primary(type='button', ng-click='confirm()') 确定
                button.btn.btn-default(type='button', ng-click='cancel()') 取消




