<!DOCTYPE html>
<html lang="en" data-ng-app="KY">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">ics</title>
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <link rel="stylesheet" ng-href="app/css/{{app.layout.theme}}" data-ng-if="app.layout.theme">
   <link rel="stylesheet" ng-href="{{'themes/'+ app.layout.theme.charAt(app.layout.theme.length-5) + '/dtdream-webfont/css/dtdream-webfont.css'}}">
   <link rel="stylesheet" href="app/css/fontfamily.css" data-ng-if="isMac">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="login/js/ics.js"></script>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
</body>

</html>