div.alarm-gateway(ng-controller='SystemConfigController')
   .col-lg-9.wd-auto-a
      .well.wd-auto
         .row
            .col-lg-9
               h4 邮件通知设置
            .pull-right
               a(ng-click='setMailConfig()', has-permission='SYSTEM_CONFIG')
                  button.btn.btn-sm.brand-btn-color-a 配置
               a(ng-click='clearMailConfig()', has-permission='SYSTEM_CONFIG')
                  button.btn.btn-sm.brand-btn-color-a 清空配置
            .col-lg-12
               table.table.table-dtdream(block-ui="bucketConfig")
                  tr
                     td.col-lg-3 昵称
                     td.col-lg-9
                        span(ng-if='mailConfig.nickName != null && mailConfig.nickName != ""') {{mailConfig.nickName}}
                        span(ng-if='mailConfig.nickName == null || mailConfig.nickName == ""') --
                  tr
                     td.col-lg-3 smtp服务器地址
                     td.col-lg-9
                        span(ng-if='mailConfig.smtpAddress != null && mailConfig.smtpAddress != ""') {{mailConfig.smtpAddress}}
                        span(ng-if='mailConfig.smtpAddress == null || mailConfig.smtpAddress == ""') --
                  tr
                     td.col-lg-3 smtp服务器端口
                     td.col-lg-9
                        span(ng-if='mailConfig.smtpPort != null && mailConfig.smtpPort != ""') {{mailConfig.smtpPort}}
                        span(ng-if='mailConfig.smtpPort == null || mailConfig.smtpPort == ""') --
                  tr
                     td 邮箱地址
                     td
                        span(ng-if='mailConfig.mailAddress != null && mailConfig.mailAddress != ""') {{mailConfig.mailAddress}}
                        span(ng-if='mailConfig.mailAddress == null || mailConfig.mailAddress == ""') --
                  tr
                     td 邮箱密码
                     td
                        span(ng-if='mailConfig.mailPassword != null && mailConfig.mailPassword != ""') **************
                        span(ng-if='mailConfig.mailPassword == null || mailConfig.mailPassword == ""') --
      //.well.wd-auto
         .row
            .col-lg-9
               h4 钉钉报警通知设置
            .pull-right
               a(ng-click='setDingDingConfig()', has-permission='PRIV_SYSTEM_CONFIG')
                  button.btn.btn-sm.brand-btn-color-a 配置
               a(ng-click='clearDingDingConfig()', has-permission='PRIV_SYSTEM_CONFIG')
                  button.btn.btn-sm.brand-btn-color-a 清空配置
            .col-lg-12
               table.table.table-dtdream(block-ui="bucketConfig")
                  tr
                     td.col-lg-3 CorpID
                     td.col-lg-9
                        span(ng-if='dingDingConfig.corpId != null && dingDingConfig.corpId != ""') {{dingDingConfig.corpId}}
                        span(ng-if='dingDingConfig.corpId == null || dingDingConfig.corpId == ""') --
                  tr
                     td CorpSecret
                     td
                        span(ng-if='dingDingConfig.corpSecret != null && dingDingConfig.corpSecret != ""') {{dingDingConfig.corpSecret}}
                        span(ng-if='dingDingConfig.corpSecret == null || dingDingConfig.corpSecret == ""') --
                  tr
                     td AgentID
                     td
                        span(ng-if='dingDingConfig.agentId != null && dingDingConfig.agentId != ""') {{dingDingConfig.agentId}}
                        span(ng-if='dingDingConfig.agentId == null || dingDingConfig.agentId == ""') --