style.
    .content-wrapper h3.page-header span:first-child{
        display: block;
    }
div(ng-controller='SystemConfigController')
    h3.page-header.mt0(style="font-size:24px;font-weight:500;")
        span
            | 系统配置&nbsp;&nbsp;
        span.tab-dtdream(ng-repeat='tab in tabList',ng-class="{false:'',true:'tab-dtdream-active'}[tab.active]",ng-click='setActiveTab(tab)') {{tab.CN}}
    .container-fluid
        .row
            .col-lg-12
                .tabbable
                    .tab-content
                        .tab-pane.content.active
                            .row.search-dtdream
                                div(ui-view="")