//
   Created by lijm on 2017/8/11.

style.
    .store-config .wd-auto-a span:nth-of-type(1){
        padding-left: 0;
    }
div.store-config(ng-controller="SystemConfigController")
    .col-lg-12.wd-auto-a
        .well.wd-auto
            .row
                .col-lg-9
                    h4 &ensp;&emsp;
                .col-lg-3.btn-box
                    a(ng-click='setParameterConfig()')
                        button.btn.btn-sm.brand-btn-color-a 配置

            .row
                .col-lg-12
                    table.table.table-dtdream(block-ui="parameterConfig")
                        thead
                            tr
                                th 属性
                                th 属性值
                                th 操作
                        tbody
                            tr(ng-repeat = 'p in pConf',ng-init='p.edit = false')
                                td(tooltip-html-unsafe = '{{p.description}}', tooltip-placement = 'top', tooltip-trigger = 'mouseenter') {{p.configName}}
                                td
                                    span(ng-if='p.valueType == "int"', tooltip-html-unsafe="请输入整数", tooltip-placement="top", tooltip-trigger="mouseenter")
                                        input(type='number', required='true', min='0', step='1', ng-pattern="/^[0-9]+$/", ng-model="p.configValue", ng-disabled='!p.edit')
                                    span(ng-if=' p.valueType == "float"', tooltip-html-unsafe="可输入小数", tooltip-placement="top", tooltip-trigger="mouseenter")
                                        input(type='number', required='true', min='0', step='0.01', ng-pattern="/^[0-9.]+$/", ng-model="p.configValue", ng-disabled='!p.edit')
                                    input(type='password', required='true', ng-if='p.valueType == "password"', ng-pattern="/^[0-9a-zA-Z_]{16}$/", ng-model="p.configValue", ng-disabled='!p.edit')
                                    input(type='text', required='true', ng-if='p.valueType == "string"', ng-model="p.configValue", ng-disabled='!p.edit')

                                td.col-lg-2
                                    div(ng-show='!p.edit')
                                        button.btn.btn-primary(ng-click='p.edit = !p.edit') 设置
                                    form(ng-show='p.edit')
                                        button.btn.btn-primary(type='submit', ng-click='saveEditParameter(p,$index)') 保存
                                        button.btn.btn-refresh( ng-click='cancelEditParameter(p,$index)', ng-disabled='!p.edit') 取消

script#parameterConfig(type='text/ng-template')
    form.form-validate.form-horizontal(name='parameterAddForm', novalidate='')
        .div(block-ui='parameterConfigSet')
            .modal-header
                button.close(type="button", data-dismiss="modal", ng-click="cancel()", aria-hidden="true") &#215;
                h4.modal-title.ng-binding 系统参数配置
            .modal-body
                .form-group(tooltip-html-unsafe = '{{p.description}}', tooltip-placement = 'top', tooltip-trigger = 'mouseenter', ng-repeat = 'p in pConfModel', ng-init = 'iptName="name"+$index')
                    label.col-lg-4.control-label {{p.configName}}
                    .col-lg-7(ng-if='p.valueType == "int"')
                        input.form-control(type='number', min = '0', step='1', ng-pattern="/^[0-9]+$/", ng-model='p.configValue',name='{{iptName}}')
                        small.text-danger.ng-hide(ng-show='parameterAddForm[iptName].$dirty && parameterAddForm[iptName].$invalid')
                            | 只允许填整数，且不能比0小
                    .col-lg-7(ng-if='p.valueType == "float"')
                        input.form-control(type='number', min = '0',step='0.01', ng-pattern="/^[0-9.]+$/", ng-model='p.configValue',name='{{iptName}}')
                        small.text-danger.ng-hide(ng-show='parameterAddForm[iptName].$dirty && parameterAddForm[iptName].$invalid')
                            | 只允许填数字，且不能比0小
                    .col-lg-7(ng-if='p.valueType == "password"')
                        input.form-control(ng-pattern="/^[0-9a-zA-Z]{16}$/",type='password',ng-model='p.configValue',name='passRSA')
                        small.text-danger.ng-hide(ng-show='parameterAddForm.passRSA.$dirty && parameterAddForm.passRSA.$invalid')
                            | 必须为16位，支持字母数字和下划线
                    .col-lg-7(ng-if='p.valueType == "string"')
                        input.form-control(type='password',ng-model='p.configValue',name='{{iptName}}')

            .modal-footer
                button.btn.btn-primary(ng-click="submitForm()",ng-disabled="parameterAddForm.passRSA.$error.pattern") 确定
                button.btn.btn-default(data-ng-click="cancel()") 取消

