//
   Created by lijm on 2017/8/11.

div.store-config(ng-controller="SystemConfigController")
    .col-lg-12.wd-auto-a
        .well.wd-auto
            .row
                .col-lg-9
                    h4 &ensp;&emsp;
                .col-lg-3.btn-box
                    a(ng-click='ossConfig()')
                        button.btn.btn-sm.brand-btn-color-a 配置
                    a(ng-click='cleanConfig("OSS")')
                        button.btn.btn-sm.brand-btn-color-a 清空配置
            .row
                .col-lg-12
                    table.table.table-dtdream(block-ui="bucketConfig")
                        tr
                            td.col-lg-3 终端地址
                            td.col-lg-9 {{bucket.endPoint}}
                        tr
                            td bucket名称
                            td {{bucket.bucketName}}
                        tr
                            td AK ID
                            td {{bucket.accesskeyID}}
                        tr
                            td AK Secret
                            td ********
script#SystemBucketConfig(type='text/ng-template')
    form.form-validate.form-horizontal(name='DiskAddForm', novalidate='')
        .div(block-ui='bucketConfigSet')
            .modal-header
                button.close(type="button", data-dismiss="modal", ng-click="cancel()", aria-hidden="true") &#215;
                h4.modal-title.ng-binding 系统OSS配置
            .modal-body
                .form-group
                    label.col-lg-3.control-label 终端地址
                    .col-lg-8
                        input.form-control(ng-maxlength='100',ng-required="true",type='text', ng-model='newBucket.endPoint',name='endPoint')
                        small.text-danger.ng-hide(ng-show='DiskAddForm.endPoint.$dirty && DiskAddForm.endPoint.$invalid')
                            | 终端地址不能为空且最长为100个字符
                .form-group
                    label.col-lg-3.control-label bucket名称
                    .col-lg-8
                        input.form-control(ng-minlength='3', ng-maxlength='35',ng-required="true",type='text', ng-model='newBucket.bucketName',name='bucketName',ng-pattern='/^[a-z0-9]{1}[a-z0-9\-]{1,33}[a-z0-9]{1}$/')
                        small.text-danger.ng-hide(ng-show='DiskAddForm.bucketName.$dirty && DiskAddForm.bucketName.$invalid')
                            | 3-35个字符，以小写字母和数字开头和结尾，只能包含小写字母，数字和短横线(-)
                .form-group
                    label.col-lg-3.control-label AK ID
                    .col-lg-8
                        input.form-control(ng-maxlength='30',ng-required="true",type='text', ng-model='newBucket.accesskeyID',name='AKID')
                        small.error.text-danger(ng-show='DiskAddForm.AKID.$dirty && DiskAddForm.AKID.$invalid')
                            | AK ID长度不能为空且最长为30个字符
                .form-group
                    label.col-lg-3.control-label AK Secret
                    .col-lg-8
                        input.form-control(ng-maxlength='50',ng-required="true",type='password',ng-model='newBucket.accesskeyKey',name='AKSecret')
                        small.text-danger.ng-hide(ng-show='DiskAddForm.AKSecret.$dirty && DiskAddForm.AKSecret.$invalid')
                            | AK Secret不能为空且最长为50个字符
            .modal-footer
                button.btn.btn-primary(ng-click="submitForm()",ng-disabled="DiskAddForm.endPoint.$error.required || DiskAddForm.endPoint.$error.maxlength|| DiskAddForm.bucketName.$error.required || DiskAddForm.bucketName.$error.minlength || DiskAddForm.bucketName.$error.pattern||DiskAddForm.AKID.$error.required || DiskAddForm.AKID.$error.maxlength|| DiskAddForm.AKSecret.$dirty &&(DiskAddForm.AKSecret.$error.required || DiskAddForm.AKSecret.$error.maxlength)") 确定
                button.btn.btn-default(data-ng-click="cancel()") 取消
script(type='text/ng-template', id='clearBucketConfig')
    .div(block-ui="clearBucketBlock")
        .modal-header
            button.close(type='button', data-dismiss='modal', ng-click='cancel()', aria-hidden='true')
                | ×
            h4.modal-title.ng-binding 清空配置
        .modal-body.clearfix
            .pull-left.col-padding
                span.text-size-32.icon-help-2.text-warning
            .pull-left.col-padding.col-lg-10
                div
                    .col-lg-12
                        span.ng-binding 当前配置将要被清空，是否确认？
        .modal-footer
            button.btn.btn-primary(ng-click='clearBucket()')
                | 确定
            button.btn.btn-default(ng-click='cancel()')
                | 取消
